{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<div><div class="markdown-converter__text--rendered"><h3>Context</h3>
  <p><strong>Problem Statement</strong></p>
  <p>Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers. </p>
  <p>Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.</p>
  <h3>Content</h3>
  <p><strong>Attributes</strong></p>
  <p><strong>People</strong></p>
  <ul>
    <li>ID: Customer's unique identifier</li>
    <li>Year_Birth: Customer's birth year</li>
    <li>Education: Customer's education level</li>
    <li>Marital_Status: Customer's marital status</li>
    <li>Income: Customer's yearly household income</li>
    <li>Kidhome: Number of children in customer's household</li>
    <li>Teenhome: Number of teenagers in customer's household</li>
    <li>Dt_Customer: Date of customer's enrollment with the company</li>
    <li>Recency: Number of days since customer's last purchase</li>
    <li>Complain: 1 if the customer complained in the last 2 years, 0 otherwise</li>
  </ul>
  <p><strong>Products</strong></p>
  <ul>
    <li>MntWines: Amount spent on wine in last 2 years</li>
    <li>MntFruits: Amount spent on fruits in last 2 years</li>
    <li>MntMeatProducts: Amount spent on meat in last 2 years</li>
    <li>MntFishProducts: Amount spent on fish in last 2 years</li>
    <li>MntSweetProducts: Amount spent on sweets in last 2 years</li>
    <li>MntGoldProds: Amount spent on gold in last 2 years</li>
  </ul>
  <p><strong>Promotion</strong></p>
  <ul>
    <li>NumDealsPurchases: Number of purchases made with a discount</li>
    <li>AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise</li>
    <li>AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise</li>
    <li>AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise</li>
    <li>AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise</li>
    <li>AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise</li>
    <li>Response: 1 if customer accepted the offer in the last campaign, 0 otherwise</li>
  </ul>
  <p><strong>Place</strong></p>
  <ul>
    <li>NumWebPurchases: Number of purchases made through the company’s website</li>
    <li>NumCatalogPurchases: Number of purchases made using a catalogue</li>
    <li>NumStorePurchases: Number of purchases made directly in stores</li>
    <li>NumWebVisitsMonth: Number of visits to company’s website in the last month</li>
  </ul>
  <p><strong>Reference</strong></p>
  <a >https://www.kaggle.com/imakash3011/customer-personality-analysis</a>
</div></div>
<br>
</br>
</br>
<p>Merry Christmas!</p>
<br>
</br>
</br>

{% endblock %}
